In [0]:
#https://youtu.be/Vsqemzdrj78 - Exercício 092 - Solução apresentada

from datetime import datetime

info = dict()
info['nome'] = str(input('Nome: '))
dnasc = int(input('Ano de nascimento: '))
info['idade'] = datetime.now().year - dnasc
info['ctps'] = int(input('Número CTPS [0 p/ Nenhum]: '))
if info['ctps'] != 0:
  info['contrata'] = int(input('Ano de contração: '))
  info['salario']  = float(input('Salário: '))
  info['aposenta'] = info['idade'] + ((info['contrata']+35 ) - datetime.now().year)
# info['aposenta'] = (info['contrata'] - dnasc + 35) 2ª opção cálculo da aposentadoria

for k, v in info.items():
  print(f' - {k} tem o valor {v}.')

#info

Nome: jane
Ano de nascimento: 1988
Número CTPS [0 p/ Nenhum]: 322
Ano de contração: 2000
Salário: 2343
 - nome tem o valor jane.
 - idade tem o valor 32.
 - ctps tem o valor 322.
 - contrata tem o valor 2000.
 - salario tem o valor 2343.0.
 - aposenta tem o valor 47.

In [0]:
#https://youtu.be/Vsqemzdrj78 - Exercício 092 - Comentário

from datetime import date
trabalhador = {}
trabalhador['nome'] = input('Nome: ')
trabalhador['idade'] = date.today().year - int(input('Ano de nascimmento: '))
trabalhador['ctps'] = int(input('Carteira de trabalho: (0 não tem)'))
if trabalhador['ctps'] == 0:
    for k, v in trabalhador.items():
        print(f'{k} tem o valor {v}')
else:
    trabalhador['contrato'] = int(input('Digite o ano de contratação: '))
    trabalhador['aposentadoria'] = (trabalhador['contrato']  -  trabalhador["idade"]) + 35
    trabalhador['salario'] = int(input('Digite o salário: '))
    print('-=' * 25)
    print()
    for k, v in trabalhador.items():
        print(f'- {k} tem o valor {v}')
print('\nFim do programa')

Nome: jota
Ano de nascimmento: 1956
Carteira de trabalho: (0 não tem)1222
Digite o ano de contratação: 1995
Digite o salário: 2000
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

- nome tem o valor jota
- idade tem o valor 64
- ctps tem o valor 1222
- contrato tem o valor 1995
- aposentadoria tem o valor 1966
- salario tem o valor 2000

Fim do programa